.fondo {
  background: linear-gradient(200deg, #ff66cc, #6600cc);
  text-align: center;
  padding: 50px;
  min-height: 100vh;
  color: white;
  animation: cambiarColor 10s infinite alternate;
}

.titulo {
  font-size: 3rem;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-shadow: 2px 2px 4px #000;
  margin-bottom: 30px;
}

.gifs img {
  width: 200px;
  margin: 30px;
  transition: transform 0.5s ease;
}

.gifs img:hover {
  transform: scale(1.2) rotate(10deg);
}

@keyframes cambiarColor {
  0% {
    background: #ff66cc;
  }
  50% {
    background: #ffcc00;
  }
  100% {
    background: #6600cc;
  }
}
